# v0 runtime files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
.pnp
.pnp.js
.yarn/

# Locks (elige uno si usas npm)
package-lock.json
yarn.lock
pnpm-lock.yaml

# React Native / Metro
.metro-cache/
.metro-cache-key

# Android
android/.gradle/
android/app/build/
android/build/
android/.cxx/
android/local.properties
*.apk
*.aab
*.keystore
*.jks

# 🔥 MUY IMPORTANTE (lo que te está ensuciando el repo)
android/app/.cxx/
android/app/build/
android/app/.externalNativeBuild/
android/app/cmake-build-debug/
android/app/cmake-build-release/

# iOS (por si luego usas)
ios/build/
ios/Pods/
*.xcworkspace

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Env
.env
.env.*
.env*.local

# OS
Thumbs.db
.DS_Store

# Cache
.jest/
.eslintcache

# Logs
logs/
*.log

# Coverage
coverage/
.nyc_output/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/*.mobileprovision
fastlane/*.cer
fastlane/*.p8
fastlane/*.p12
fastlane/*.key
fastlane/*.ipa
fastlane/*.dSYM.zip